@import "tailwindcss";
/* input:focus {
  all: unset;
} */

.gradient {
  background: rgb(0, 127, 255);
  background: linear-gradient(
    159deg,
    rgba(0, 127, 255, 1) 0%,
    rgba(42, 82, 190, 1) 100%
  );
}
